#map_canvas {
    background: transparent
    url(../images/map_loading.gif) no-repeat center center;
}

div.map-filter {
    position: absolute;
    top: 60px;
    left: 1px;
    width: 280px;
    height: 700px;
    
    background-color: white;
    box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.75);
  }

  div.map-filter-header {
    left: 1px;
  }

  .close {
    cursor: pointer;
  }

  body {
    font-family: 'Varela', sans-serif;
}

.footer {
  /* position: fixed; */
  margin-top: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

#mf_prj_title {
  font-size : 13px;
  padding : 0;
  margin : 0;
  line-height : 15px;
}

